<!DOCTYPE html>
<html style="height: 100%">

<head>
    <meta charset="utf-8">
    <title>动态交通图</title>
</head>

<body style="height: 100%; margin: 0">
    <div id="container" style="height: 100%"></div>
    <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/echarts-all-3.js"></script>
    <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/extension/dataTool.min.js"></script>
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=ZUONbpqGBsYGXNIYHicvbAbM"></script>
    <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/extension/bmap.min.js"></script>
    <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/map/js/china.js"></script>
    <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/map/js/world.js"></script>
    <script type="text/javascript" src="http://127.0.0.1:8887/content/scripts/jquery-1.7.2.min.js"></script>
    <script type="text/javascript">
        var dom = document.getElementById("container");
        var myChart = echarts.init(dom);
        var app = {};
        var ratio = 5/600;
        option = null;
        myChart.showLoading();

        $.get('http://127.0.0.1:8887/content/resources/snapToRoads.json', function(data) {
            myChart.hideLoading();
            /*
                        var itemStyle = {
                            normal: {
                                opacity: 0.8,
                                shadowBlur: 10,
                                shadowOffsetX: 0,
                                shadowOffsetY: 0,
                                shadowColor: 'rgba(0, 0, 0, 0.5)'
                            }
                        };

                        var sizeFunction = function(x) {
                            var y = Math.sqrt(x / 5e8) + 0.1;
                            return y * 80;
                        };
                        var schema = [{
                            name: 'Income',
                            index: 0,
                            text: '人均收入',
                            unit: '美元'
                        }, {
                            name: 'LifeExpectancy',
                            index: 1,
                            text: '人均寿命',
                            unit: '岁'
                        }, {
                            name: 'Population',
                            index: 2,
                            text: '总人口',
                            unit: ''
                        }, {
                            name: 'Country',
                            index: 3,
                            text: '国家',
                            unit: ''
                        }];
            */
            var busLines = [].concat.apply([], data.lines.map(function(busLine) {
                var prevPt;
                var points = [];
                for (var i = 0; i < busLine.length; i += 2) {
                    var pt = [busLine[i], busLine[i + 1]];
                    points.push([pt[1] / 1e4, pt[0] / 1e4]);
                }
                return {
                    coords: points
                };
            }));

            function changeColor(Lines,colors){

            }

            option = {
                baseOption: {
                    bmap: {
                        center: [106.646914, 26.635041],
                        zoom: 14,
                        roam: true,
                        mapStyle: {
                            'styleJson': [{
                                'featureType': 'water',
                                'elementType': 'all',
                                'stylers': {
                                    'color': '#031628'
                                }
                            }, {
                                'featureType': 'land',
                                'elementType': 'geometry',
                                'stylers': {
                                    'color': '#000102'
                                }
                            }, {
                                'featureType': 'highway',
                                'elementType': 'geometry.fill',
                                'stylers': {
                                    'color': '#000000'
                                }
                            }, {
                                'featureType': 'highway',
                                'elementType': 'geometry.stroke',
                                'stylers': {
                                    'color': '#0b3d51'
                                }
                            }, {
                                'featureType': 'highway',
                                'elementType': 'labels',
                                'stylers': {
                                    'visibility': 'off'
                                }
                            }, {
                                'featureType': 'arterial',
                                'elementType': 'geometry.fill',
                                'stylers': {
                                    'color': '#000000'
                                }
                            }, {
                                'featureType': 'arterial',
                                'elementType': 'geometry.stroke',
                                'stylers': {
                                    'color': '#0b3d51'
                                }
                            }, {
                                'featureType': 'local',
                                'elementType': 'geometry',
                                'stylers': {
                                    'color': '#000000'
                                }
                            }, {
                                'featureType': 'railway',
                                'elementType': 'geometry.fill',
                                'stylers': {
                                    'color': '#000000'
                                }
                            }, {
                                'featureType': 'railway',
                                'elementType': 'geometry.stroke',
                                'stylers': {
                                    'color': '#08304b'
                                }
                            }, {
                                'featureType': 'subway',
                                'elementType': 'geometry',
                                'stylers': {
                                    'lightness': -70
                                }
                            }, {
                                'featureType': 'building',
                                'elementType': 'geometry.fill',
                                'stylers': {
                                    'color': '#000000'
                                }
                            }, {
                                'featureType': 'all',
                                'elementType': 'labels.text.fill',
                                'stylers': {
                                    'color': '#857f7f'
                                }
                            }, {
                                'featureType': 'all',
                                'elementType': 'labels.text.stroke',
                                'stylers': {
                                    'color': '#000000'
                                }
                            }, {
                                'featureType': 'building',
                                'elementType': 'geometry',
                                'stylers': {
                                    'color': '#022338'
                                }
                            }, {
                                'featureType': 'green',
                                'elementType': 'geometry',
                                'stylers': {
                                    'color': '#062032'
                                }
                            }, {
                                'featureType': 'boundary',
                                'elementType': 'all',
                                'stylers': {
                                    'color': '#465b6c'
                                }
                            }, {
                                'featureType': 'manmade',
                                'elementType': 'all',
                                'stylers': {
                                    'color': '#022338'
                                }
                            }, {
                                'featureType': 'label',
                                'elementType': 'all',
                                'stylers': {
                                    'visibility': 'off'
                                }
                            }]
                        }
                    },
                    timeline: {
                        axisType: 'time',
                        orient: 'vertical',
                        autoPlay: true,
                        inverse: true,
                        playInterval: 1000*600*ratio,
                        left: null,
                        right: 0,
                        top: 20,
                        bottom: 20,
                        width: 55,
                        height: null,
                        label: {
                            normal: {
                                textStyle: {
                                    color: '#999'
                                }
                            },
                            emphasis: {
                                textStyle: {
                                    color: '#fff'
                                }
                            }
                        },
                        symbol: 'none',
                        lineStyle: {
                            color: '#555'
                        },
                        checkpointStyle: {
                            color: '#bbb',
                            borderColor: '#777',
                            borderWidth: 2
                        },
                        controlStyle: {
                            showNextBtn: true,
                            showPrevBtn: true,
                            normal: {
                                color: '#666',
                                borderColor: '#666'
                            },
                            emphasis: {
                                color: '#aaa',
                                borderColor: '#aaa'
                            }
                        },
                        data: []
                    },
                    backgroundColor: '#404a59',

                    series: [{
                        type: 'lines',
                        coordinateSystem: 'bmap',
                        polyline: true,
                        data: busLines,
                        silent: true,
                        lineStyle: {
                            normal: {
                                // color: '#c23531',
                                // color: 'rgb(200, 35, 45)',
                                opacity: 0.2,
                                width: 1
                            }
                        },
                        progressiveThreshold: 500,
                        progressive: 200
                    }],
                    animationDurationUpdate: 1000,
                    animationEasingUpdate: 'quinticInOut'
                },
                options: []
            };

            for (var n = 0; n < data.timelines.length; n++) {
                option.baseOption.timeline.data.push(data.timelines[n]);

                console.log(busLines);
                option.options.push({
                    title: {
                        show: true,
                        'text': data.timelines[n] + ''
                    },
                    series: (function (busLines) {

                        var series = [{
                            type: 'lines',
                            coordinateSystem: 'bmap',
                            polyline: true,
                            data: (function (busLines) {//busLines路分段

                                var busLines_new = [{}];

                                for (var i = 0 ; i < busLines.length; i++){
                                    var lineStyle = {
                                        normal: {
                                            opacity: 1,
                                            width: 2
                                        }
                                    };
                                    lineStyle.normal.color = 'rgba(' + Math.round(Math.random() * 255) + ','
                                            + Math.round(Math.random() * 255) + ',' + Math.round(Math.random() * 255) + ',1);'

                                    busLines_new[i].coords = busLines[i].coords;//0~xxx
                                    busLines_new[i].lineStyle = lineStyle;
                                }

                                return busLines_new;
                            })(busLines),
                            silent: true,
                            lineStyle: {
                                normal: {
                                    opacity: 1,
                                    width: 2
                                }
                            },
                            progressiveThreshold: 500,
                            progressive: 200
                        },{
                            type: 'lines',
                            coordinateSystem: 'bmap',
                            polyline: true,
                            data: (function (busLines) {//busLines路分段

                                var busLines_new = [{}];
                                for (var i = 0; i< busLines.length; i++){
                                    busLines_new[i].coords = busLines[i].coords;//0~xxx
                                    busLines_new[i].effect = {
                                        constantSpeed: Math.round(data.series[n][0][2]),
                                        show: true,
                                        trailLength: 0.1,
                                        symbolSize: 5
                                    };
                                }
                                return busLines_new;
                            })(busLines),
                            effect: {
                                show: true,
                                trailLength: 0.1,
                                symbolSize: 5
                            },
                            zlevel: 1
                        }];

                        return series;
                    })(busLines)
                });
            }

            myChart.setOption(option);
        });

        if (option && typeof option === "object") {
            myChart.setOption(option, true);
        }
    </script>
</body>

</html>