<!DOCTYPE html>
<html style="height: 100%">

<head>
    <meta charset="utf-8">
    <title>动态交通图</title>
</head>

<body style="height: 100%; margin: 0">
    <div id="container" style="height: 100%"></div>
    <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/echarts-all-3.js"></script>
    <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/extension/dataTool.min.js"></script>
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=ZUONbpqGBsYGXNIYHicvbAbM"></script>
    <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/extension/bmap.min.js"></script>
    <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/map/js/china.js"></script>
    <script type="text/javascript" src="http://echarts.baidu.com/gallery/vendors/echarts/map/js/world.js"></script>
    <script type="text/javascript" src="http://222.85.139.245:64154/jquery-1.7.2.min.js"></script>
    <script type="text/javascript">
        var dom = document.getElementById("container");
        var myChart = echarts.init(dom);
        var ratio = 5/600;
        var app = {};
        option = null;
        myChart.showLoading();
        var color = {
            'green':'rgba(0,255,0,1)',
            'yellow':'rgba(255,255,0,1)',
            'red':'rgba(255,0,0,1)'
        };

        $.get('http://222.85.139.245:64154/snapToRoads_2ways.json', function(data) {
            myChart.hideLoading();
            var busLines = [].concat.apply([], data.lines.map(function(busLine) {
                var prevPt;
                var points = [];
                for (var i = 0; i < busLine.length; i += 2) {
                    var pt = [busLine[i], busLine[i + 1]];
                    points.push([pt[1] / 1e4, pt[0] / 1e4]);
                }
                return {
                    coords: points
                };
            }));


            option = {
                baseOption: {
                    bmap: {
                        center: [106.646914, 26.635041],
                        zoom: 14,
                        roam: true,
                        mapStyle: {
                            'styleJson': [{
                                'featureType': 'water',
                                'elementType': 'all',
                                'stylers': {
                                    'color': '#031628'
                                }
                            }, {
                                'featureType': 'land',
                                'elementType': 'geometry',
                                'stylers': {
                                    'color': '#000102'
                                }
                            }, {
                                'featureType': 'highway',
                                'elementType': 'geometry.fill',
                                'stylers': {
                                    'color': '#000000'
                                }
                            }, {
                                'featureType': 'highway',
                                'elementType': 'geometry.stroke',
                                'stylers': {
                                    'color': '#0b3d51'
                                }
                            }, {
                                'featureType': 'highway',
                                'elementType': 'labels',
                                'stylers': {
                                    'visibility': 'off'
                                }
                            }, {
                                'featureType': 'arterial',
                                'elementType': 'geometry.fill',
                                'stylers': {
                                    'color': '#000000'
                                }
                            }, {
                                'featureType': 'arterial',
                                'elementType': 'geometry.stroke',
                                'stylers': {
                                    'color': '#0b3d51'
                                }
                            }, {
                                'featureType': 'local',
                                'elementType': 'geometry',
                                'stylers': {
                                    'color': '#000000'
                                }
                            }, {
                                'featureType': 'railway',
                                'elementType': 'geometry.fill',
                                'stylers': {
                                    'color': '#000000'
                                }
                            }, {
                                'featureType': 'railway',
                                'elementType': 'geometry.stroke',
                                'stylers': {
                                    'color': '#08304b'
                                }
                            }, {
                                'featureType': 'subway',
                                'elementType': 'geometry',
                                'stylers': {
                                    'lightness': -70
                                }
                            }, {
                                'featureType': 'building',
                                'elementType': 'geometry.fill',
                                'stylers': {
                                    'color': '#000000'
                                }
                            }, {
                                'featureType': 'all',
                                'elementType': 'labels.text.fill',
                                'stylers': {
                                    'color': '#857f7f'
                                }
                            }, {
                                'featureType': 'all',
                                'elementType': 'labels.text.stroke',
                                'stylers': {
                                    'color': '#000000'
                                }
                            }, {
                                'featureType': 'building',
                                'elementType': 'geometry',
                                'stylers': {
                                    'color': '#022338'
                                }
                            }, {
                                'featureType': 'green',
                                'elementType': 'geometry',
                                'stylers': {
                                    'color': '#062032'
                                }
                            }, {
                                'featureType': 'boundary',
                                'elementType': 'all',
                                'stylers': {
                                    'color': '#465b6c'
                                }
                            }, {
                                'featureType': 'manmade',
                                'elementType': 'all',
                                'stylers': {
                                    'color': '#022338'
                                }
                            }, {
                                'featureType': 'label',
                                'elementType': 'all',
                                'stylers': {
                                    'visibility': 'off'
                                }
                            }]
                        }
                    },
                    timeline: {
                        axisType: 'category',
                        orient: 'horizontal',
                        autoPlay: true,
                        inverse: true,
                        playInterval: Math.round(1000 * 600 * ratio),
                        left: 20,
                        right: 20,
                        top: 0,
                        bottom: null,
                        width: null,
                        height: 55,
                        inverse: false,
                        label: {
                            position: 'bottom',
                            normal: {
                                interval: 1,
                                textStyle: {
                                    color: '#999'
                                },
                                rotate: -60,
                                formatter: function(value, index) {
                                    var texts = [value.slice(-4, -2), value.slice(-2)];
                                    return texts.join(':');
                                }
                            },
                            emphasis: {
                                textStyle: {
                                    color: '#fff'
                                }
                            }
                        },
                        symbol: 'none',
                        lineStyle: {
                            color: '#555'
                        },
                        checkpointStyle: {
                            color: '#bbb',
                            borderColor: '#777',
                            borderWidth: 2
                        },
                        controlStyle: {
                            showNextBtn: true,
                            showPrevBtn: true,
                            normal: {
                                color: '#666',
                                borderColor: '#666'
                            },
                            emphasis: {
                                color: '#aaa',
                                borderColor: '#aaa'
                            }
                        },
                        data: []
                    },
                    backgroundColor: '#404a59',

                    series: [{
                        type: 'lines',
                        coordinateSystem: 'bmap',
                        polyline: true,
                        data: busLines,
                        silent: true,
                        lineStyle: {
                            normal: {
                                // color: '#c23531',
                                // color: 'rgb(200, 35, 45)',
                                opacity: 0.2,
                                width: 1
                            }
                        },
                        progressiveThreshold: 500,
                        progressive: 200
                    },{
                        type: 'lines',
                        coordinateSystem: 'bmap',
                        polyline: true,
                        data: busLines,
                        lineStyle: {
                            normal: {
                                width: 0
                            }
                        },
                        effect: {
                            constantSpeed: 0,
                            show: true,
                            trailLength: 0.1,
                            symbolSize: 1.5
                        },
                        zlevel: 1
                    }],
                    animationDurationUpdate: 500,
                    animationEasingUpdate: 'quinticInOut'
                },
                options: []
            };

            for (var n = 0; n < data.timelines.length; n++) {
                option.baseOption.timeline.data.push(data.timelines[n]);

                option.options.push({
                    title: {
                        show: true,
                        left: null,
                        right: 20,
                        top: null,
                        bottom: 20,
                        text: (data.timelines[n].toString().slice(-4, -2) + ' : ' + data.timelines[n].toString().slice(-2)),
                        textStyle: {
                            color: '#fff'
                        },
                        subtext: (data.timelines[n].toString().slice(0, 4) + '年' + data.timelines[n].toString().slice(4, 6) + '月' + data.timelines[n].toString().slice(6, 8) + '日')
                    },
                    series: (function (busLines) {

                        var series = [{
                            type: 'lines',
                            coordinateSystem: 'bmap',
                            polyline: true,
                            data: (function (busLines) {//busLines路分段

                                var busLines_new = [];

                                for (var i = 0 ; i < busLines.length; i++){
                                    var lineStyle = {
                                        normal: {
                                            opacity: 1,
                                            width: 2
                                        }
                                    };
                                    console.log(data.series[n][i][3]);
                                    console.log(color[data.series[n][i][3]]);
                                    lineStyle.normal.color = color[data.series[n][i][3]];
                                    busLines_new[i]={};
                                    busLines_new[i].coords = busLines[i].coords;//0~xxx
                                    busLines_new[i].lineStyle = lineStyle;
                                }

                                return busLines_new;
                            })(busLines),
                            silent: true,
                            progressiveThreshold: 500,
                            progressive: 200
                        }];
                        //下面是加effect
                        for (var i = 0; i < busLines.length; i++) {
                            //每条道路速度不同
                            var line = [];
                            line.push(busLines[i]);
                            //每条道路插入多次,代表多辆汽车
                            for (var j = 0; j < data.series[n][i][1]; j++){
                                var segment = {
                                    type: 'lines',
                                    coordinateSystem: 'bmap',
                                    polyline: true,
                                    data: line,
                                    effect: {
                                        constantSpeed: Math.round(data.series[n][i][2]) + Math.random()*5,
                                        show: true,
                                        trailLength: 0.1,
                                        symbolSize: 3
                                    },
                                    zlevel: 1
                                };
                                series.push(segment);
                            }
                        }

                        return series;
                    })(busLines)
                });
            }

            myChart.setOption(option);

            if (!app.inNode) {
                // 添加百度地图插件
                var bmap = myChart.getModel().getComponent('bmap').getBMap();
                bmap.addControl(new BMap.MapTypeControl());
                bmap.addControl(new BMap.NavigationControl({anchor: BMAP_ANCHOR_BOTTOM_LEFT, type: BMAP_NAVIGATION_CONTROL_ZOOM}));
            }
        });

        if (option && typeof option === "object") {
            myChart.setOption(option, true);
        }
    </script>
</body>

</html>