<!DOCTYPE html>
<html style="height: 100%">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>Traffic Pattern</title>

    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Material Design Lite">

    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" content="images/touch/ms-touch-icon-144x144-precomposed.png">
    <meta name="msapplication-TileColor" content="#3372DF">


    <link rel="stylesheet" href="RobotoFonts.css">
    <link rel="stylesheet" href="MaterialIcons.css">
    <link rel="stylesheet" href="material.cyan-light_blue.min.css">
    <link rel="stylesheet" href="styles.css">

</head>

<body>
    <div class="demo-layout mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">

        <header class="demo-header mdl-layout__header mdl-color--grey-100 mdl-color-text--grey-600">
            <div class="mdl-layout__header-row">
                <span class="mdl-layout-title">GuiYang Traffic Pattern</span>
                <ul class="mdl-menu mdl-js-menu mdl-js-ripple-effect mdl-menu--bottom-right" for="hdrbtn">
                    <li class="mdl-menu__item" onclick="alert('ISCAS Interns Group Presents');">About</li>
                    <li class="mdl-menu__item" onclick="alert('With special thanks to echarts of Baidu and, Google Maps API, Snap To Roads feature and material design lite of Google');">Acknowledgements</li>
                    <a class="mdl-menu__item" href="https://github.com/HarveyYan/NodeMap">Github</a>
                </ul>
            </div>
        </header>

        <div class="demo-drawer mdl-layout__drawer mdl-color--blue-grey-900 mdl-color-text--blue-grey-50">
            <header class="demo-drawer-header">
                <div class="demo-avatar-dropdown">
                    <span>Contact</span>
                    <div class="mdl-layout-spacer"></div>
                    <button id="accbtn" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
                    <i class="material-icons" role="presentation">arrow_drop_down</i>
                    <span class="visuallyhidden">Accounts</span>
                </button>
                    <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="accbtn">
                        <li class="mdl-menu__item">developers@someplace.com</li>
                        <li class="mdl-menu__item">info@someplace.com</li>
                    </ul>
                </div>
            </header>
            <nav class="demo-navigation mdl-navigation mdl-color--blue-grey-800">
                <a class="mdl-navigation__link" href="2016-03-12"><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">flag</i>2016-03-12</a>
                <a class="mdl-navigation__link" href="2016-03-13"><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">flag</i>2016-03-13</a>
                <a class="mdl-navigation__link" href="2016-03-14"><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">flag</i>2016-03-14</a>
                <a class="mdl-navigation__link" href="2016-03-15"><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">flag</i>2016-03-15</a>
                <a class="mdl-navigation__link" href="2016-03-16"><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">flag</i>2016-03-16</a>
                <a class="mdl-navigation__link" href="2016-03-17"><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">flag</i>2016-03-17</a>
                <a class="mdl-navigation__link" href="2016-03-18"><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">flag</i>2016-03-18</a>
                <a class="mdl-navigation__link" href="2016-03-19"><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">flag</i>2016-03-19</a>
                <a class="mdl-navigation__link" href="2016-03-20"><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">flag</i>2016-03-20</a>
                <a class="mdl-navigation__link" href="2016-03-21"><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">flag</i>2016-03-21</a>
                <a class="mdl-navigation__link" href="2016-03-22"><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">flag</i>2016-03-22</a>
                <a class="mdl-navigation__link" href="2016-03-23"><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">flag</i>2016-03-23</a>
                <a class="mdl-navigation__link" href="2016-03-24"><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">flag</i>2016-03-24</a>
                <a class="mdl-navigation__link" href="2016-03-25"><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">flag</i>2016-03-25</a>
                <div class="mdl-layout-spacer"></div>
            </nav>
        </div>

        <main class="mdl-layout__content mdl-color--grey-100">
            <div class="mdl-grid demo-content">
                <div class="demo-charts mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-grid" id="main_map" style="height:500px;border:1px solid #ccc;padding:10px;"></div>
                <div class="demo-charts mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-grid" id="speedAndNumber_chart" style="height:500px;border:1px solid #ccc;padding:10px;"></div>
            </div>
        </main>

    </div>
    <script type="text/javascript" src="../mdl/material.min.js"></script>
    <script type="text/javascript" src="../scripts/echarts/dist/echarts.min.js"></script>
    <script type="text/javascript" src="../scripts/echarts/dist/extension/dataTool.min.js"></script>
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=ZUONbpqGBsYGXNIYHicvbAbM"></script>
    <script type="text/javascript" src="../scripts/echarts/dist/extension/bmap.min.js"></script>
    <script type="text/javascript" src="../scripts/jquery-3.1.0.min.js"></script>
    <script type="text/javascript">
        var main = document.getElementById('main_map');
        var speedAndNumber = document.getElementById('speedAndNumber_chart');
        main.style.height = (screen.height - 100) + "px";
        var myChart = echarts.init(main);
        var spdAndNumChart = echarts.init(speedAndNumber);
        var ratio = 60 / 600;
        var app = {};
        var manual = false;
        var identifier = 0;
        var limitOfCars = 50;
        option = null;
        spdAndNumChart.showLoading();
        myChart.showLoading();

        $.get('http://localhost:8000/2016-03-12.json', function(data) {
            (function setSpdAndNum(data) {
                spdAndNumChart.hideLoading();
                option = {
                    grid: {
                        bottom: 80
                    },
                    toolbox: {
                        feature: {
                            dataZoom: {
                                yAxisIndex: 'none'
                            },
                            restore: {},
                            saveAsImage: {}
                        }
                    },
                    tooltip: {
                        trigger: 'axis',
                        axisPointer: {
                            animation: false
                        }
                    },
                    dataZoom: [{
                        show: true,
                        realtime: true,
                        start: 65,
                        end: 85
                    }, {
                        type: 'inside',
                        realtime: true,
                        start: 65,
                        end: 85
                    }],
                    xAxis: [{
                        type: 'category',
                        data: data.timelines.map(function(timelines) {
                            var value = timelines.toString();
                            var texts = [value.slice(-4, -2), value.slice(-2)];
                            return texts.join(':');
                        })
                    }],
                    yAxis: [{
                        type: 'value',
                        name: '总通过车辆',
                        axisLabel: {
                            formatter: '{value} 辆'
                        }
                    }, {
                        type: 'value',
                        name: '平均速度',
                        min: 0,
                        max: 25,
                        interval: 5,
                        axisLabel: {
                            formatter: '{value} km/h'
                        }
                    }],
                    legend: {
                        data: ['平均车速', '总通过车辆']
                    },
                    series: [{
                        name: '总通过车辆',
                        type: 'bar',
                        animation: false,
                        data: data.totalNumber,
                    }, {
                        name: '平均车速',
                        type: 'line',
                        animation: false,
                        areaStyle: {
                            normal: {}
                        },
                        lineStyle: {
                            normal: {
                                width: 2
                            }
                        },
                        yAxisIndex: 1,
                        data: data.averageSpeed,
                    }]
                }
                spdAndNumChart.setOption(option);
            }(data));
            myChart.hideLoading();
            var schema = [{
                index: 0,
                text: '通过车辆',
                unit: '辆'
            }, {
                index: 1,
                text: '平均车速',
                unit: 'km/h'
            }];
            //道路点集转换为道路集
            var busLines = [].concat.apply([], data.lines.map(function(busLine) {
                var prevPt;
                var points = [];
                for (var i = 0; i < busLine.length; i += 2) {
                    var pt = [busLine[i], busLine[i + 1]];
                    points.push([pt[1], pt[0]]);
                }
                return {
                    coords: points
                };
            }));

            option = {
                baseOption: {
                    bmap: {
                        center: [106.646914, 26.635041],
                        zoom: 14,
                        roam: true,
                        mapStyle: {
                            'styleJson': [{
                                'featureType': 'water',
                                'elementType': 'all',
                                'stylers': {
                                    'color': '#031628'
                                }
                            }, {
                                'featureType': 'land',
                                'elementType': 'geometry',
                                'stylers': {
                                    'color': '#000102'
                                }
                            }, {
                                'featureType': 'highway',
                                'elementType': 'geometry.fill',
                                'stylers': {
                                    'color': '#000000'
                                }
                            }, {
                                'featureType': 'highway',
                                'elementType': 'geometry.stroke',
                                'stylers': {
                                    'color': '#0b3d51'
                                }
                            }, {
                                'featureType': 'highway',
                                'elementType': 'labels',
                                'stylers': {
                                    'visibility': 'off'
                                }
                            }, {
                                'featureType': 'arterial',
                                'elementType': 'geometry.fill',
                                'stylers': {
                                    'color': '#000000'
                                }
                            }, {
                                'featureType': 'arterial',
                                'elementType': 'geometry.stroke',
                                'stylers': {
                                    'color': '#0b3d51'
                                }
                            }, {
                                'featureType': 'local',
                                'elementType': 'geometry',
                                'stylers': {
                                    'color': '#000000'
                                }
                            }, {
                                'featureType': 'railway',
                                'elementType': 'geometry.fill',
                                'stylers': {
                                    'color': '#000000'
                                }
                            }, {
                                'featureType': 'railway',
                                'elementType': 'geometry.stroke',
                                'stylers': {
                                    'color': '#08304b'
                                }
                            }, {
                                'featureType': 'subway',
                                'elementType': 'geometry',
                                'stylers': {
                                    'lightness': -70
                                }
                            }, {
                                'featureType': 'building',
                                'elementType': 'geometry.fill',
                                'stylers': {
                                    'color': '#000000'
                                }
                            }, {
                                'featureType': 'all',
                                'elementType': 'labels.text.fill',
                                'stylers': {
                                    'color': '#857f7f'
                                }
                            }, {
                                'featureType': 'all',
                                'elementType': 'labels.text.stroke',
                                'stylers': {
                                    'color': '#000000'
                                }
                            }, {
                                'featureType': 'building',
                                'elementType': 'geometry',
                                'stylers': {
                                    'color': '#022338'
                                }
                            }, {
                                'featureType': 'green',
                                'elementType': 'geometry',
                                'stylers': {
                                    'color': '#062032'
                                }
                            }, {
                                'featureType': 'boundary',
                                'elementType': 'all',
                                'stylers': {
                                    'color': '#465b6c'
                                }
                            }, {
                                'featureType': 'manmade',
                                'elementType': 'all',
                                'stylers': {
                                    'color': '#022338'
                                }
                            }, {
                                'featureType': 'label',
                                'elementType': 'all',
                                'stylers': {
                                    'visibility': 'off'
                                }
                            }]
                        }
                    },
                    timeline: {
                        axisType: 'category',
                        orient: 'horizontal',
                        autoPlay: true,
                        inverse: true,
                        playInterval: Math.round(1000 * 600 * ratio),
                        left: 20,
                        right: 20,
                        top: null,
                        bottom: 0,
                        width: null,
                        height: 55,
                        inverse: false,
                        label: {
                            position: 10,
                            normal: {
                                //interval: 1,
                                textStyle: {
                                    color: '#999'
                                },
                                //rotate: 60,
                                formatter: function(value, index) {
                                    var texts = [value.slice(-4, -2), value.slice(-2)];
                                    if (index % 3 == 1 || index % 3 == 2) {
                                        texts.shift();
                                        texts.shift();
                                    }
                                    return texts.join(':');
                                }
                            },
                            emphasis: {
                                textStyle: {
                                    color: '#fff'
                                }
                            }
                        },
                        symbol: 'diamond',
                        symbolSize: 10,
                        lineStyle: {
                            color: '#555'
                        },
                        checkpointStyle: {
                            color: '#bbb',
                            borderColor: '#777',
                            borderWidth: 2
                        },
                        controlStyle: {
                            showNextBtn: true,
                            showPrevBtn: true,
                            normal: {
                                color: '#666',
                                borderColor: '#666'
                            },
                            emphasis: {
                                color: '#aaa',
                                borderColor: '#aaa'
                            }
                        },
                        data: []
                    },
                    backgroundColor: '#404a59',
                    series: [{
                        type: 'lines',
                        coordinateSystem: 'bmap',
                        polyline: true,
                        data: null,
                        zlevel: 2,
                        silent: false,
                    }, {
                        type: 'lines',
                        coordinateSystem: 'bmap',
                        polyline: true,
                        data: null,
                        zlevel: 1,
                        silent: true
                    }],
                    animationDurationUpdate: 0,
                    animation: false
                },
                options: []
            };

            //timeline美化
            for (var n = 0; n < data.timelines.length; n++) {
                if (n % 6 === 0) {
                    var time = {
                        value: data.timelines[n],
                        symbol: "emptyDiamond"
                    }
                    option.baseOption.timeline.data.push(time);
                } else {
                    option.baseOption.timeline.data.push(data.timelines[n]);
                }
            }

            fillOptions(0);

            myChart.setOption(option);

            if (!app.inNode) {
                // 添加百度地图插件
                var bmap = myChart.getModel().getComponent('bmap').getBMap();
                bmap.addControl(new BMap.NavigationControl({
                    anchor: BMAP_ANCHOR_TOP_RIGHT,
                    type: BMAP_NAVIGATION_CONTROL_ZOOM
                }));
            }

            function fillOptions(identifier) {
                option.options.length = 0;
                for (var n = 0; n < data.timelines.length; n++) {
                    var timelineString = data.timelines[n].toString();
                    option.options.push({
                        title: {
                            show: true,
                            left: 20,
                            right: null,
                            top: 20,
                            bottom: null,
                            text: ('   ' + timelineString.slice(-4, -2) + ' : ' + timelineString.slice(-2)),
                            textStyle: {
                                color: '#fff'
                            },
                            subtext: (timelineString.slice(0, 4) + '年' + timelineString.slice(4, 6) + '月' + timelineString.slice(6, 8) + '日')
                        },
                        tooltip: {
                            padding: 5,
                            backgroundColor: '#222',
                            borderColor: '#777',
                            borderWidth: 1,
                            formatter: function(obj) {
                                if (obj.componentType === "timeline") {
                                    var value = obj.name;
                                    var texts = [value.slice(-4, -2), value.slice(-2)];
                                    return texts.join(':');
                                } else if (obj.componentSubType === "lines") {
                                    return obj.name;
                                }
                            }
                        },
                        series: (function(busLines) {
                            //判断是否当前时间
                            if (n == identifier) {
                                var series = [{
                                    type: 'lines',
                                    coordinateSystem: 'bmap',
                                    polyline: true,
                                    data: (function(busLines) { //busLines路分段

                                        var busLines_new = [];

                                        for (var i = 0; i < busLines.length; i++) {
                                            var name = schema[0].text + '：' + data.series[n][i][0] + schema[0].unit + '<br>' + schema[1].text + '：' + data.series[n][i][1] + schema[1].unit;
                                            var lineStyle = {
                                                normal: {
                                                    opacity: 0.2,
                                                    width: 1.5,
                                                    curvness: 1
                                                }
                                            };

                                            switch (data.series[n][i][2]) {
                                                case 1: //绿色
                                                    lineStyle.normal.color = 'green';
                                                    break;
                                                case 2: //黄色
                                                    lineStyle.normal.color = 'yellow';
                                                    break;
                                                case 3: //红色
                                                    lineStyle.normal.color = 'red';
                                                    break;
                                                case 4: //灰色
                                                    lineStyle.normal.color = 'gray';
                                                    break;
                                            }

                                            busLines_new[i] = {};
                                            busLines_new[i].name = name;
                                            busLines_new[i].coords = busLines[i].coords; //0~xxx
                                            busLines_new[i].lineStyle = lineStyle;
                                        }

                                        return busLines_new;
                                    })(busLines),
                                    zlevel: 2,
                                    silent: false,
                                    progressiveThreshold: 50,
                                    progressive: 20
                                }];
                                //下面是加effect
                                for (var i = 0; i < busLines.length; i++) {

                                    //每条道路速度不同
                                    var line = [];
                                    line.push(busLines[i]);
                                    var numberOfCars = (data.series[n][i][0] < limitOfCars ? data.series[n][i][0] : limitOfCars);
                                    //每条道路插入多次,代表多辆汽车
                                    for (var j = 0; j < limitOfCars; j++) {
                                        if (j < numberOfCars) {
                                            series.push({
                                                type: 'lines',
                                                coordinateSystem: 'bmap',
                                                polyline: true,
                                                data: line,
                                                effect: {
                                                    constantSpeed: Math.round(data.series[n][i][1] * 118 / 1000) + Math.random() * 10,
                                                    show: true,
                                                    trailLength: 0,
                                                    symbolSize: 2,
                                                    animation: false
                                                },
                                                zlevel: 1,
                                                silent: true
                                            });
                                        } else {
                                            //清除多余的点
                                            series.push({
                                                type: 'lines',
                                                coordinateSystem: 'bmap',
                                                polyline: true,
                                                data: line,
                                                effect: {
                                                    constantSpeed: 0,
                                                    show: true,
                                                    trailLength: 0,
                                                    symbolSize: 0,
                                                    animation: false
                                                },
                                                zlevel: 1
                                            });
                                        }
                                    }
                                }
                            } else {
                                var series = [];
                            }
                            return series;
                        })(busLines)
                    });
                }
            }

            myChart.on('timelinechanged', function(param) {
                identifier = param.currentIndex;
                fillOptions(identifier);
                myChart.setOption(option);
            });

        });
    </script>
</body>

</html>